body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    height: 100%;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 38px;
    font-weight: bold;
    text-align: left;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.text-box {
    width: 45%;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: left;
}

.text-box p {
    font-size: 46px;
    font-weight: bold;
}

.intro-btn {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    text-transform: uppercase;
}

.image-box {
    width: 50%;
    height: 60%;
}

.image-box img {
    border: 2px solid black;
    height: 60%;
}

.next-btn {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}